/* CSS geral */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#main-home{
    background-image: linear-gradient(145deg,#13293d, #006494, #d0e4ae, #ffc300 );
    padding-bottom: 50px;
}

.h1{
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-size: 30px;
    color: #f2c04b;
 
}

p {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-size: 18px;
}
.news-section {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}


.news-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-item h3 {
    font-size: 1.2em;
    margin: 10px;
}

.news-item p {
    font-size: 0.9em;
    margin: 10px;
    color: #666;
}

.more-news-btn {
    display: block;
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

.more-news-btn:hover {
    background-color: #004494;
}

#weather {
    background-color: #254db9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
  }
  

#map {
    height: 50px;
    width: 10%;
    position: relative;

}


/* Estilos para o SVG e o mapa */

.container{
    padding: 0 30px 0 80px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}
.uf {
    fill: #cfcfcf;
    stroke: #333333;
    stroke-width: 0.5;
    transition: fill 0.3s;
}
.uf:hover {
    fill: #007bff;
}

.text-apresentacao{
    font-size: 15px;
    padding-top: 15px;
    text-align: justify;
    line-height: 1.3em;
    color: #13293d;
}

#climate-info {
    padding: 0 40px;
    background-color: #f5e4c8; 
    /* background-image: linear-gradient(#f3bc3e, #ecdbab, #5f799c, #1b436c, #b9bdc3); */
    border: 2px solid #003366; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex: 1 1;
    margin: 0 50px;

}

#climate-info h3 {
    font-size: 1.8em;
    color: #13293d; 
    text-align: center;
    padding-top: 10px;
}

#climate-info p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #000; 
}

#estado-clima {
    font-weight: bold;
    font-size: 1.3em;

}

.container {
    display: flex;
    flex-direction: row;
}

#map-inter {
    width: 100%;
}

#estado-clima {
    font-size: 16px;
    color: #333;
    }

#estado-imagem {
    width: 250px; 
    height: auto;
    margin-top: 20px; 
    border-radius: 10px; 
    display: block;
    margin: 20px auto;
    }



/* Curiosidade VIDEOS section */


#curiosidades-section {
    padding: 0 40px;
    background-color: #f5e4c8; /* Cor pastel suave */
    border: 2px solid #003366;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex: 1 1;
    margin: 50px;
}

#curiosidades-section h3 {
    font-size: 1.8em;
    color: #13293d;
    text-align: center;
    padding-top: 10px;
}

#curiosidades-section p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #000;
}

/* Container dos vídeos em layout flexível */
#videos-container {
    display: flex;
    justify-content: space-between; /* Distribui os vídeos igualmente */
    flex-wrap: wrap; /* Faz com que os vídeos se reorganizem em caso de telas menores */
    gap: 20px; /* Espaçamento entre os vídeos */
    margin-top: 20px;
}

/* Estilo para cada vídeo individualmente */
.video-item {
    flex: 1 1 30%; /* Cada vídeo ocupa 30% do contêiner, lado a lado */
    text-align: center;
}

.video-thumbnail {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.video-titulo {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #1b436c;
    text-align: center;
}



    /* NOTICIAS SECTION */


.noticias-container {
    background-color: #f5e4c8; 
   /* background-image: linear-gradient(#f3bc3e, #ecdbab, #5f799c, #1b436c, #b9bdc3); */
    border: 2px solid #003366;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px 0;

}

.noticias-grid {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.noticias-container h2{
    font-size: 30px;
    color: #13293d;
    padding-bottom: 15px;
}

.noticias-container p{
    font-size: 20px;
    color: #13293d;
}








/* Desmatamento section */

#desmatamento-info {
    padding: 0 40px;
    background-color: #f5e4c8; 
    /* background-image: linear-gradient(#f3bc3e, #ecdbab, #5f799c, #1b436c, #b9bdc3); */
    border: 2px solid #003366; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    flex: 1 1;
    margin: 0 50px;

}

#desmatamento-info h3 {
    font-size: 1.8em;
    color: #34495e;
    text-align: center;
    padding-bottom: 10px;
}

#desmatamento-info p {
    font-size: 1.2em;
    color: #2c3e50;
    line-height: 1.5;
    text-align: justify;
}















