/* CSS geral */

body, p, h1, h2, input, textarea{
    margin: 0;
}


/* HEADER -- AQUI É A ESTILIZAÇÃO APENAS DA HEADER */



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    font-family: Arial, sans-serif;
    position: initial;
  

}
  
.cabecalhonav {
    background-color: #003366;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.cabecalhonav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    display: flex;
}

.cabecalhonav ul li {
    margin: 0 15px;
}

/* CABEÇALHO ANTIGO */
/* .cabecalhonav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    background-color: #E1E7EF;
    border-radius: 12px;
} */

.cabecalhonav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

.cabecalhonav ul li a:hover {
    border-bottom: 2px solid #fff;
} 

.login:hover{
    transform: scale(0.95);
}

.login a {
    
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
}


.container-pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 5px 10px;
}

.container-pesquisa input {
    border: none;
    outline: none;
    font-size: 16px;
}

.container-pesquisa button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.login {
    margin-right: 15px
}


.logo-e-titulo {
    padding: 80px 0 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(./img/background_header.png);
    background-size: cover;
}

.logo-e-titulo .logo {
    
    height: 10vh;
    margin-right: 20px;

}

.logo-e-titulo h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}







/* MAIN -- ESTILIZAÇÃO DA MAIN 1 - HOME  */



/* MAIN -- ESTILIZAÇÃO DA MAIN 2 - SOBRE  */



/* MAIN -- ESTILIZAÇÃO DA MAIN 3 - CONTATOS  */

#contact-info h2 {
    display: flex;
    justify-content: center;
}
#contact-description {
    display: flex;
    padding: 150px;
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 12px;

}
/* MAIN -- ESTILIZAÇÃO DA 4 - ACÕES */

    section{
        flex-direction: column;
    }

    .displayflexdasacoes{
        
        padding: 10px;
        margin: 20px;
        width: auto;
        height: 50px;
        border-radius: 20px; 
        border-top: 3px solid rgb(0, 0, 0);
        background-color: #003366;
        color: rgb(255, 255, 255);
    }

    section div ul {
        padding: 50px;
        margin: 60px;
        width: auto;
        height: 20px;
        border-radius: 20px; 
        border-top: 3px solid rgb(70, 81, 145);
        border-bottom: 3px solid rgb(70, 81, 145);
        background-color: #f7fbff;
        color: rgb(0, 0, 0);
    }

/*///////////////// MAIN -- INÍCIO ESTILIZAÇÃO DA 5.0 - LOGIN ///////////*/


main{
    background-color: #8BB2B5;
    padding-bottom: 50px;
    padding-top: 40px;
}

/* início Título */
#title-section{
    background-color: #3B5758;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}

.container-title{
    text-align: center;
    padding: 40px 0;
    
}


/* fim Título */

#invite-login-section{
    background-color: #fff;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

/* início convite - login */

#invite-login-section .container-inv-log{
    display: flex;
    flex-direction: row;  
    justify-content: center; 
}

.invite-login{
    flex: 1 1;
    text-align: center;
    padding: 80px 20px;

}




/* MAIN -- ESTILIZAÇÃO DA 5.1 - CADASTRO */






/* FOOTER -- AQUI É A ESTILIZAÇÃO APENAS DO FOOTER  */


.a-footer {
    width: 20px;
    height: 20px;
} 