/* CSS geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#main-home{
    background-image: linear-gradient(145deg,#13293d, #006494, #d0e4ae, #ffc300 );

}

.titleh1{
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 50px;
}
.news-section {
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
}



.news-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.news-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-item h3 {
    font-size: 1.2em;
    margin: 10px;
}

.news-item p {
    font-size: 0.9em;
    margin: 10px;
    color: #666;
}

.more-news-btn {
    display: block;
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

.more-news-btn:hover {
    background-color: #004494;
}

#weather {
    background-color: #254db9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
  }
  

#map {
    height: 50px;
    width: 10%;
    position: relative;

}


/* Estilos para o SVG e o mapa */
.uf {
    fill: #cfcfcf;
    stroke: #333;
    stroke-width: 0.5;
    transition: fill 0.3s;
}
.uf:hover {
    fill: #007bff;
}


#climate-info {
    padding: 20px;
    background-color: #e0f7fa; 
    border: 2px solid #b2ebf2; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    font-family: 'Arial', sans-serif;
    color: #00796b; 
    margin-left: 100px;
    }

#climate-info h3 {
    font-size: 1.8em;
    color: #00796b; 
    }

#climate-info p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4caf50; 
    }

#estado-clima {
    font-weight: bold;
    font-size: 1.3em;
    color: #5c6bc0; 
    }

.container {
    display: flex;
    flex-direction: row;
    }

#map-inter {
    width: 100%;
    }

#climate-info {
    width: 40%;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    background-color: #e0f7f1;
    }

#estado-clima {
    font-size: 16px;
    color: #333;
    }

#estado-imagem {
    width: 250px; /* Aumenta o tamanho da imagem */
    height: auto;
    margin-top: 20px; /* Espaço entre o texto e a imagem */
    border-radius: 10px; /* Bordas arredondadas na imagem */
    }

.news-container {
    background-color: #E6F7F4;

    padding: 20px;             /* Espaçamento interno (padding) */
    border-radius: 10px;       /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    max-width: 1200px;         /* Largura máxima da caixa */
    margin: 20px auto;         /* Centraliza a caixa horizontalmente */

}