@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


#acoes {
    background-image: linear-gradient(145deg,#13293d, #006494, #d0e4ae, #ffc300 );
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#acoes ul {
    list-style: none;
}

#acoes h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 36px;
}

#acoes p {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-size: 18px;
}

.section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.displayflexdasacoes {
    font-size: 22px;
    color: #003366;
    margin-bottom: 15px;
    text-align: center;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

ul li strong {
    color: #004080;
}

@media (max-width: 768px) {
    section div {
        width: 100%;
        margin: 10px 0;
    }
}

.section1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section1 img{
    width: 20vw;

}







