/* CSS geral */




h1 {
    font-size: 25px; /* Ajuste conforme necessário */
    width: 100%; /* Para garantir que o container ocupe o espaço correto */
    text-align: center; /* Opcional, pode centralizar o texto */
    padding: 10px; /* Espaçamento interno para evitar encostar nas bordas */
    
}

/* HEADER -- AQUI É A ESTILIZAÇÃO APENAS DA HEADER */



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    font-family: Arial, sans-serif;
    position: relative;

}
  
.cabecalhonav {
    background-color: #003366;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 
}

.cabecalhonav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    display: flex;
}

.cabecalhonav ul li {
    margin: 0 15px;
}


.cabecalhonav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
}

.cabecalhonav ul li a:hover {
    border-bottom: 2px solid #fff;
} 

.login:hover{
    transform: scale(0.95);
}

.login a {
    
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
}


.container-pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;

}

.container-pesquisa input {
    border: none;
    outline: none;
    font-size: 16px;
}

.container-pesquisa button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer; 

}


.login {
    margin-right: 15px
}


.logo-e-titulo {
    padding: 80px 0 20px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(./img/background_header.png);
    background-size: cover;
}

.logo-e-titulo .logo {
    
    height: 10vh;
    margin-right: 20px;

}

.logo-e-titulo h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

#weather {
    background-color: #254db9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
  }
  

#map {
    height: 50px;
    width: 10%;
    position: relative;

}


/* Estilos para o SVG e o mapa */
.uf {
    fill: #cfcfcf;
    stroke: #333;
    stroke-width: 0.5;
    transition: fill 0.3s;
}
.uf:hover {
    fill: #007bff;
}


#climate-info {
    padding: 20px;
    background-color: #e0f7fa; 
    border: 2px solid #b2ebf2; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    font-family: 'Arial', sans-serif;
    color: #00796b; 
    margin-left: 100px;
    }

#climate-info h3 {
    font-size: 1.8em;
    color: #00796b; 
    }

#climate-info p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4caf50; 
    }

#estado-clima {
    font-weight: bold;
    font-size: 1.3em;
    color: #5c6bc0; 
    }

.container {
    display: flex;
    flex-direction: row;
    }

#map-inter {
    width: 100%;
    }

#climate-info {
    width: 40%;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    background-color: #e0f7f1;
    }

#estado-clima {
    font-size: 16px;
    color: #333;
    }

#estado-imagem {
    width: 250px; /* Aumenta o tamanho da imagem */
    height: auto;
    margin-top: 20px; /* Espaço entre o texto e a imagem */
    border-radius: 10px; /* Bordas arredondadas na imagem */
    }




/* FOOTER -- AQUI É A ESTILIZAÇÃO APENAS DO FOOTER  */


#title-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;

}
#footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #247ba0;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    

}

#footer-links ul{
    display: inline-block;
    font-size: 50px;
    padding: 20px;    
}

#footer-liks i{
    color: #fff;
    text-decoration: none;

}

#insta, #face, #linkedin{
    color: #fff;
}

